
{% load static %}
<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="#!">Lorraine tech solutions</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href="{%url 'newphone'%}">Home</a>
          </li>
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">Services</a>
            <ul class="navbar-dropdown">
              <li>
                <a href="#!">Phone Repair</a>
              </li>
              <li>
                <a href="#!">Laptop Reapir</a>
              </li>
              <li>
                <a href="#!">Computer Acccessories</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#!"></a>
          </li>
              
          
         <li>
            <a href="{% url 'spares' %}">Spare Parts</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
{% block scripts %} 
  <script type="text/javascript" src="{%static 'js/nav.js'%}"></script>
{% endblock %}