{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}



{{ block.super}}


{% block content %}

<div class="container">

  {% for phone in phone_repairs %}

  <div class="card-columns">


    <div class="col-md-3 col-sm-3 col-xs-3" style='background-color: lightcyan;'>
        
            <img src="{{phone.phone_image.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 100%;height:250px" >
            <p class="card-title" style="font-family: 'Sail', cursive;
            font-family: 'Vast Shadow', cursive;"><b>Phone Type :</b> {{phone.phone_type}}</p>
            <p class="card-text"><b>Phone_model:</b> {{phone.phone_model}}</p>
            <p class="card-text"><b>Description:</b> {{phone.description}}</p>
            <p class="card-text"><b>Date Posted:</b> {{phone.date_posted}}</p>
            <p class="card-text"><b>Client Contact:</b> {{phone.contact}}</p>
            <p class="card-text"><b>Client Name:</b> {{phone.user}}</p>
            <button type="button" class="btn btn-outline-success">Notify Client</button>
    </div>
   
                       
      {% endfor %}

  </div>
    
</div>
   
  
  {%endblock%}
