{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}



{{ block.super}}


{% block content %}


<div class="container-fluid" style='background-color: blanchedalmond;'>
    <div class="row">
      {% for part in parts %}
        <div class="card m-4" style="width: 22rem;">
          <img class="card-img-top" src="{{part.part_image.url}}" alt="Card image cap" height="200px">
          <div class="card-body" style='background-color: rgb(205, 213, 255);' >
            <h5 class="card-title" style="font-family: 'Sail', cursive;
            font-family: 'Vast Shadow', cursive;"><b>Part Name :</b>{{part.part_name}}</h5>
            <p class="card-text"><b>Part Type:</b>{{part.part_type}}</p>
            <p class="card-text"><b>Part Price:</b>{{part.part_price}}</p>
          </div>
        </div>
      {%endfor%}
    </div>
</div>
{%endblock%}