{%extends 'base.html'%}
{% load bootstrap3 %}

{% load static %}



{{ block.super}}


{% block content %}

<div class="container">

  <!-- Looping through images  -->
  {% for part in parts %}

  <div class="card-columns">
    <!-- displaying images -->

    <div class="col-md-3 col-sm-3 col-xs-3">
        
            <img src="{{part.part_image.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 100%;height:250px" >
          <p class="card-title" style="font-family: 'Sail', cursive;
          font-family: 'Vast Shadow', cursive;"><b>Part Name :</b> {{part.part_name}}</p>
          <p class="card-text"><b>Part Type:</b> {{part.part_type}}</p>
          <p class="card-text"><b>Part Price:</b> Kshs: {{part.part_price}}</p>
    </div>
   
                       
      {% endfor %}

  </div>
    
</div>
   
  
  {%endblock%}